<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqm7s9KVJYoiTx-6fVqSh6Ndjdl5wdfdI</string>
	<key>GCM_SENDER_ID</key>
	<string>856890456531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LongTran.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-b8cfc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-b8cfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856890456531:ios:597a2d8cdefcf4fdc59726</string>
</dict>
</plist>